@font-face {
    font-family: confortaa;
    src: url("../../assets/fonts/Comfortaa-VariableFont_wght.ttf");
}
* , ::after , ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin : 0;
    font-family: confortaa ;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.navbar .logo {
    display: flex;
    align-items: center;
    gap: 5px;
} 
.navbar .logo img{
    width: 50px;
    height: 50px;
 }
.navbar .logo h1 {
    color: white;
    font-size: 20px;
}
.navbar .menu ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.navbar .menu ul li {
    list-style: none;
    transition: all .3s;
}
.navbar .menu ul li a {
   text-decoration: none;
   color: white;
   font-size: 18px;
   
}
.navbar .menu ul li:hover {
    transform: translateY(-6px);
 }
.navbar .rs img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.navbar .rs img:hover {
    transform: translateY(-2px);
    cursor: pointer;
 }

 .navbar .logo img:hover {
    transform: translateY(-2px);
    cursor: pointer;
 }

 .navbar .logo img{
    width: 50px;
    height: 50px;
 }

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -70px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/img/image-page-accueil.JPG");
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.main-container h1 {
    color: white;
    font-size: 4rem;
    text-align: center;
    margin-top: 8rem;
}
.main-container button {
    background-color: #063550;
    -webkit-box-shadow: 5px 5px 15px -4px #000000; 
    box-shadow: 5px 5px 15px -4px #000000;
    border-radius: 15px;
    color: white;
    padding: 20px 60px;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    bottom: 50px;
    z-index: 9999;
    cursor: pointer;
    border: none;
}
.main-container button a {
    position: relative;
    color: white;
    text-decoration: none;
    cursor: pointer;
    z-index: 9999;
    font-size: 20px;
}

.main-container img {
    width: 30rem;
    margin-top: auto;
}
.bottom-container {
    background: linear-gradient(180deg, rgba(4,41,64,1) 0%, rgba(13,69,178,1) 100%);
    height: fit-content;
    padding-bottom: 2rem;
    position: relative;
    z-index: 1;
}

/* card */

.other-games-container h3 {
    display: inline-block;
    color: white;
    font-size: 2rem;
    padding: 2rem 0;
}
.other-games-container .dot {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.other-games-container {
    width: fit-content;
    margin: 0 auto;
}
.other-games-container .cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.other-games-container .cards .card {
    background: linear-gradient(120deg, rgba(13,69,178,1) 0%, rgba(13,69,178,0) 100%);
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25));
    width: 300px;
    height: fit-content;
    padding: 20px 15px;
    border-radius: 10px;
}
.card .pastille {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top:20px;
    right: 10px;
}
.card img {
    width: 50px;
    height: 50px;
}
.card h4 {
color: white;
margin: 10px 0;
}
.card p {
    color: white;
    font-size: 12px;
    opacity: 0.6;
}
.card-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom:10px;
   
}
.card-bottom a {
    color: white;
    text-decoration: none;
}
.card-bottom img {
    width: 20px;
    height: 20px;
}
.card-info-1, .card-info-2, .card-info-3{
    display: none;
    
}
.card-info-1 img, .card-info-2 img, .card-info-3 img {
width: 100%;
height: 100%;
}
.show {
    animation: 0.5s forwards card-show;
    display: block;
}
@keyframes card-show {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
/* footer */
footer {
    background-color: #0d45b2;
    padding: 2rem 2.5rem;
}
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
    padding: 2rem 0;
}

.footer-container div h4 {
    color: white;
    margin-bottom: 10px;
}
.footer-container div ul li {
    color: white;
    margin-bottom: 5px;
}
.footer-container div ul li a {
   text-decoration: none;
   color: #DFF1FF;
   
}
.footer-logo {
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer-logo img {
    width: 150px;
    height: 100px;
}