@font-face {
    font-family: confortaa;
    src: url("../../../../assets/fonts/Comfortaa-VariableFont_wght.ttf");
}
* , ::after , ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin : 0;
    font-family: confortaa ;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.navbar .logo {
    display: flex;
    align-items: center;
    gap: 5px;
} 
.navbar .logo h1 {
    color: white;
    font-size: 20px;
}
.navbar .menu ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.navbar .menu ul li {
    list-style: none;
    transition: all .3s;
}
.navbar .menu ul li a {
   text-decoration: none;
   color: white;
   font-size: 18px;
   
}
.navbar .menu ul li:hover {
    transform: translateY(-6px);
 }
.navbar .rs img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.navbar .rs img:hover {
    transform: translateY(-2px);
    cursor: pointer;
 }

 .navbar .logo img:hover {
    transform: translateY(-2px);
    cursor: pointer;
 }

 .navbar .logo img{
    width: 50px;
    height: 50px;
 }

.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -70px;
    padding-top: 3rem;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #042940), url("../../../assets/img/image-page-accueil.JPG");
    background-size: cover;
    width: 100%;
    height: 60vh;
    z-index: -1;
    gap: 3rem;
}
.main-container h1 {
    color: white;
    font-size: 4rem;
    text-align: center;
    margin-top: 5rem;
}
.main-container button {
    background-color: #00273E;
    border-radius: 20px;
    color: white;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    bottom: 19px;
    z-index: 999;
    cursor: pointer;
}
.main-container button a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.main-container img {
    width: 15rem;
    margin-top: auto;
}
.bottom-container {
    background: linear-gradient(180deg, rgba(4,41,64,1) 0%, rgba(13,69,178,1) 100%);
    height: fit-content;
    padding-bottom: 2rem;
    position: relative;
    z-index: 1;
}

/* card */
.other-games-container {
    width: fit-content;
    margin: 0 auto;
    background-color: #0b3487;
    padding: 5rem 10rem;
    border-radius: 10px;
}
.other-games-container .cards {
    display: flex;
    flex-direction: row;
    gap: 10rem;
}
.other-games-container .cards .card {
    background: white;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25));
    width: 300px;
    height: fit-content;
    border-radius: 20px;
}
.other-games-container .cards .card:hover {
   transform: scale(1.1);
   cursor: pointer;
}
.card img {
    width: 100%;
    height: 12rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-content {
    padding: 10px 20px; 
}
.card h4 {
color: #0D45B2;
font-size: 25px;
margin-bottom: 5px;
}
.card p {
    color: black;
    font-size: 15px;
}
.card .star {
    width : 20px;
    height:20px ;
    position: absolute;
    right: 10px;
    top: 10px;
}
.card .star1 {
    width : 20px;
    height:20px ;
    position: absolute;
    right: 10px;
    top: 10px;
}
.card .star2 {
    width : 20px;
    height:20px ;
    position: absolute;
    right: 30px;
    top: 10px;
}
.card-info-1, .card-info-2, .card-info-3{
    display: none;
    
}
.card-info-1 img, .card-info-2 img, .card-info-3 img {
width: 100%;
height: 100%;
}
.show {
    animation: 0.5s forwards card-show;
    display: block;
}
@keyframes card-show {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.button-container .next-btn {
    background: rgb(255, 255, 255);
    border-radius: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
 }

 .button-container .next-btn a  {
    text-decoration: none;
    color: black;
 }
 .button-container:hover {
     transform: scale(1.1);
 }

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
/* footer */
footer {
    background-color: #0d45b2;
    padding: 2rem 0;
}
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
    padding: 2rem 0;
}

.footer-container div h4 {
    color: white;
    margin-bottom: 10px;
}
.footer-container div ul li {
    color: white;
    margin-bottom: 5px;
}
.footer-container div ul li a {
   text-decoration: none;
   color: #DFF1FF;
   
}
.footer-logo {
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer-logo img {
    width: 150px;
    height: 100px;
}